In [1]:
import pandas as pd
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

In [2]:
RANDOM_SEED = 1234

In [5]:
df = pd.read_csv("../data/raw/heart_cleveland_upload.csv")

In [6]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [7]:
X = df.drop(["condition"], axis=1)
y = df.condition

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [9]:
svm = SVC(gamma="auto")

In [10]:
svm.fit(X_train, y_train)

SVC(gamma='auto')

In [11]:
y_pred_svm = svm.predict(X_test)

In [12]:
accuracy_score(y_test, y_pred_svm)

0.4666666666666667

In [13]:
nb = GaussianNB()

In [14]:
nb.fit(X_train, y_train)

GaussianNB()

In [15]:
y_pred_nb = nb.predict(X_test)

In [16]:
accuracy_score(y_test, y_pred_nb)

0.7733333333333333